.menu-container{
    text-align: center;
    height: auto;
    background-color: var(--color-bg);
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu-child{
    display: flex;
    justify-content: center;
    flex: 1;
}

.menu-child img{
    height: 92%;
    width: 90%; 
}

.inside-menu{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

@media screen and (max-width : 850px) {
    .menu{
        flex-direction: column;
    }

    .menu-child img{
        width: 50%;
        height: 50%;
    }
}