.main-chefword{
    display: flex;
    justify-content: space-between ; 
    padding: 0 2rem;
    height: 100vh;
}

.content-chefword{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    flex: 1;
}

.content-chefword div{
    margin-left: 5rem;
}

.img-chef{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.img-chef img{
    width: 70%;
    height: 70%;
}

.signature{
    height: 10%;
    width: 30%;
}

/* .quote-div{
    display: flex;
} */

.quote-img{
    width: 3%;
    height: 3%;
    display: inline;
    float: left;
}