.main-chefword{
    display: flex;
    justify-content: space-between ; 
    padding: 0 2rem;
    height: 100vh;
}

.content-chefword{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.content-chefword div{
    margin-left: 5rem;
}

.img-chef{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.img-chef img{
    width: 70%;
    height: 70%;
}

.signature{
    height: 10%;
    width: 30%;
}

.quote-img{
    width: 3%;
    height: 3%;
    display: inline;
    float: left;
}

@media screen and (max-width : 850px){
    .main-chefword{
        flex-direction: column;
        height: 100vh;
    }

    .img-chef{
        align-items: flex-start;
        margin-top: 1rem;

    }

    .content-chefword{
        align-items: flex-start;
    }

    .img-chef img{
        width: 60%;
        height: 80%;
    }
    .signature{
        height: 8%;
        width: 20%;
    }

}