.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 90vh;
  background-color: var(--color-bg);

}

.header-img {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem;
  padding-right: 12rem;
  padding-top: 1rem;
}

.header-img img {
  height: 80%;
  width: 85%;
}

.header-content {
  /* width: 100%; */
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  text-align: left;
  flex-wrap: wrap;
}


.header-content img {
  width: 30px;
}

@media screen and (max-width : 850px) {
  .header-main {
    flex-direction: column;
  }

  .header-img {
    align-items: flex-start;
  }

  .header-content{
    align-items: flex-start;
  }

  .header-img img {
    height: 100%;
    width: 100%;
  }

}

@media screen and (max-width : 550px){

  .header-main{
    height: auto;
  }

  .header-content{
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
  }

  .header-img img {
    height: 360px;
    width: 340px;
  }

  .header-img{
    margin: 0;
    padding: 0;
  }
}