.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 90vh;
  
}

.header-img {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 12rem;
  padding-top: 1rem;
}

.header-img img {
  height: 500px;
  width: 500px;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  text-align: left;
  flex-wrap: wrap;
}


.header-content img {
  width: 30px;
}

/* .header-content p{
  color: var(--color-subtext);
} */