.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-img {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  padding-right: 5rem;
  padding-top: 1rem;
}

.header-img img {
  height: 500px;
  width: 500px;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  text-align: left;
}

.header-content img {
  width: 30px;
}

/* .header-content p{
  color: var(--color-subtext);
} */