.navbar-main {
    display: flex;
    background-color:var(--color-bg);
    color: var(--color-text1);
    position: sticky;
    top: 0;
    left: 0;
    /* padding: 1rem; */
}

.navbar-main-responsive{
    display: flex;
    flex-direction: column;
    display: none;
}

.navbar-main-heading{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.navbar-logo{
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* padding-right: 2rem; */
}

.navbar-main img{
    float: left;
    padding-left: 0.2rem;
    width: 120px;
    height: 50px;
}

.navbar-main-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
}

.navbar-main-link a{
    text-decoration: none;
    color: white;
}

.navbar-main-link a:hover{
    color:var(--color-subtext);
}

.navbar-main-link-responsive{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5px;
    top: 65px;
    padding: 8px 16px;
    display: none;
}

.navbar-main-link-responsive a{
    color: white;
    text-decoration: none;
}

.navbar-main-link-responsive a:hover{
    color: var(--color-subtext);
}

.navbar-main-link p {
    padding-left: 2rem;
    cursor: pointer;
    font-size: 18px;
}


.nav-menu-icon-div{
    display: none;
}

.nav-menu-icon{
    display: none;
}

@media screen and (max-width: 850px) {

    .navbar-main{
        background-color: var(--color-bg);
        /* position: fixed;
        top: 0;
        left: 0; */
    }

    .nav-menu-icon-div{
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
        padding: 1.5rem;
        position: sticky;
        top: 0;
        left: 0;
        background-color:var(--color-bg);
    }

    .navbar-main{
        display: none;
    }

    .navbar-logo img{
        width: 100px;
        height: 40px;
    }

    .navbar-main-heading-responsive{
        display: none;
    }

    .navbar-icon{
        width: 100%;
    }

    .navbar-main-link-responsive p:hover{
        color: var(--color-subtext);
        
    }

    .nav-menu-icon{
        display: block;
    }

    .navbar-main-link-responsive{
        display: block;
        background-color: var(--color-bg);
    }

    .navbar-main-responsive{
        display: block;
    }

}

@media screen and (max-width: 550px){
    .nav-menu-icon-div{
        padding:0.5rem 0rem
    }

    .navbar-logo img{
        width: 80px;
        height: 30px;
    }

    .nav-menu-icon{
        display: block;
    }

    .navbar-main-link-responsive{
        display: block;
    }

    .navbar-main-responsive{
        display: block;
    }

}
