.navbar-main {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 1rem;
    background-color: var(--color-bg);
    color: var(--color-text1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-main-heading{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.navbar-logo{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-right: 2rem;
}

.navbar-main img{
    float: left;
    padding-left: 0.2rem;
    width: 120px;
    height: 50px;
}

.navbar-main-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
}

.navbar-main-link p {
    padding-left: 2rem;
    cursor: pointer;
    font-size: 18px;
}

