.laurels-main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.laurels-content {
    /* margin: 0rem 2rem; */
    padding: 0rem 2rem;
}

.laurels-awards-1 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.laurels-awards-1 p:nth-child(even) {
    font-size: 15px;
    color: var(--color-text3);
}

.laurels-awards-2 {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.laurels-awards-2 p:nth-child(even) {
    font-size: 14px;
    color: var(--color-text3);
}


/* .laurels-awards-1-content {
    display: flex;
} */

.award-img-div img {
    width: 85%;
    height: 85%;
    
}

.laurels-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.laurels-image img {
    width: 65%;
    height: 60%;
}

@media screen and (max-width : 850px) {
    .laurels-main{
        flex-direction: column;
        text-align: center;
    }

    .laurels-image img {
        width: 70%;
        height: 65%;
    }
    .laurels-awards-1{
        padding-bottom: 0rem;
    }

    .laurels-image {
        margin-top: 1rem;
        align-items: flex-start;
        flex: 1;
    }
}

@media screen and (max-width : 550px) {
    .laurels-main{
        height: auto;
    }

    .award-img-div img {
        width: 30%;
        height: 30%;
    }

    .laurels-awards-1{
        flex-direction: column;
        text-align: center;
    }

    .laurels-awards-2{
        flex-direction: column;
        text-align: center;
    }

    .laurels-image{
        padding-bottom: 1rem;
        justify-content: center;
    }

    .laurels-image img {
        width: 60%;
        height: 50;
    }

    /* .laurels-awards-1 div , .laurels-awards-2 div{
        padding: 0.5rem;
    } */
   
}